fastapi
uvicorn
python-dotenv
requests
groq
langchain
langchain-groq
langgraph
chromadb
transformers
python-multipart
pydantic
aiohttp
transformers==4.41.2
torch==2.3.1+cpu
slowapi
sse-starlette
rank-bm25
